/* Tile Components */

.instant-gram-tile-sport-element {
    margin: 10px 0px 0px 0px;
    /* border: 1px solid black; */
}

.instant-gram-tile-sport-sub-element.left {
    text-align: left;
    position: absolute;
    /* border: 1px solid black; */
}

.instant-gram-tile-sport-sub-element.right {
    text-align: right;
    position: relative;
    margin-left: 25%;
    /* border: 1px solid black; */
}
