$black: #000000;
$darker-grey: #282828;
$darker-grey-90: #28282890;
$darker-grey-50: #28282850;
$dark-grey: #303030;
$medium-grey: #585858;
$light-grey: #a2a2a2;
$lighter-grey: #f5f5f5;
$light-blue: #96b9ee;
$white: #ffffff;
$transparent: #ffffff00;