.instant-gram-tile-title {
    text-align: center;
    margin: 0px 0px 7.5px 0px;
}

.instant-gram-tile-sport {
    background-color: #F5F5F5;
    text-align: center;
    margin: 15px 70px 5px 70px;
    padding: 10px;
}

.instant-gram-tile-sport-element {
    margin: 10px 0px 0px 0px;
}

.instant-gram-tile-body {
    margin: 15px 70px 15px 70px;
}