@use '../../reference' as reference;

.container {
    border-radius: reference.$corners-medium;
    background-color: reference.$dark-grey;
    max-height: 300px;
    overflow-y: auto;

    @media (max-width: 768px) {
        border-radius: none;
        overflow-x: scroll;
        white-space: nowrap;
    }
}

.table {
    padding: 15px 75px 15px 75px;

    @media (max-width: 768px) {
        padding: 7.5px 20px 7.5px 20px;
    }
}
