/* General */

button::-moz-focus-inner,
input[type='button']::-moz-focus-inner {
    border: 0 none !important;
    padding: 0 !important;
}

button {
    border: 0 none !important;
    margin: 0;
    padding: 0;
}

button:hover {
    cursor: pointer;
}

/* Classes */

button.search {
    border-radius: var(--corners-small);
    float: right;
    background-color: var(--darker-grey);
    transition: transform var(--transition-short);
    width: 15%;
}

button.regular-clear,
button.dense-clear {
    background-color: var(--transparrent);
    border-radius: var(--corners-small);
    transition: background-color var(--transition-long),
        transform var(--transition-short);
}

button.regular-solid,
button.dense-solid {
    background-color: var(--lighter-grey);
    border-radius: var(--corners-small);
    transition: background-color var(--transition-long),
        transform var(--transition-short);
}

button.regular-clear,
button.regular-solid {
    width: 100%;
}

button.dense-clear,
button.dense-solid {
    width: 25%;
}

button.regular-clear:hover,
button.dense-clear:hover,
button.regular-solid:hover,
button.dense-solid:hover {
    background-color: var(--lighter-grey);
    transition: background-color var(--transition-long);
}

button.search:active,
button.regular-clear:active,
button.dense-clear:active,
button.regular-solid:active,
button.dense-solid:active {
    transform: scale(0.999);
    transition: transform var(--transition-short);
}

/* Mobile */

@media (max-width: 768px) {
    button.search {
        width: 20%;
    }
}
