.image-slider {
    position: relative;
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--corners-small);
    overflow-x: hidden;
    overflow-y: hidden;
}

.image-slider-caption {
    position: absolute;
    z-index: 10;
    text-shadow: 0px 0px 5px var(--darker-grey);
    bottom: 24px;
    left: 24px;
    max-width: 75%;
    opacity: 0.75;
}

.image-slider-index {
    position: absolute;
    z-index: 10;
    text-shadow: 0px 0px 5px var(--darker-grey);
    bottom: 24px;
    right: 24px;
    max-width: 25%;
    opacity: 0.75;
}

.left-arrow,
.right-arrow,
.refresh {
    color: var(--darker-grey-90);
    position: absolute;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    transition: color var(--transition-long);
}

.left-arrow {
    font-size: 32px;
    top: 48%;
    left: 24px;
}

.right-arrow {
    font-size: 32px;
    top: 48%;
    right: 24px;
}

.refresh {
    font-size: 22px;
    top: 24px;
    right: 24px;
}

.left-arrow:hover,
.right-arrow:hover,
.refresh:hover {
    color: #a8a8a8;
    transition: color var(--transition-long);
}

.left-arrow:active,
.right-arrow:active,
.refresh:active {
    transform: scale(0.99);
    transition: transform var(--transition-short);
}

.slide {
    opacity: 0.75;
    transition-duration: 2s ease;
}

.slide.active {
    opacity: 1;
    transition-duration: 2s;
}

/* Mobile */

@media (max-width: 768px) {
    .image-slider {
        height: 300px;
        overflow-x: hidden;
    }

    .image-slider-image {
        box-shadow: none;
    }

    .image-slider-caption {
        bottom: 16px;
        left: 12px;
    }

    .image-slider-index {
        bottom: 16px;
        right: 12px;
    }

    .left-arrow,
    .right-arrow {
        top: 45%;
        color: var(--darker-grey-50);
    }

    .left-arrow {
        font-size: 24px;
        left: 12px;
    }

    .right-arrow {
        font-size: 24px;
        right: 12px;
    }

    .refresh {
        font-size: 16px;
        top: 16px;
        right: 12px;
        color: var(--darker-grey-50);
    }

    .slide {
        opacity: 0.5;
        transition-duration: none;
    }

    .slide.active {
        opacity: 1;
        transition-duration: 1s;
    }
}
