/* General */

button {
    border: none;
    transition: transform var(--transition-short);
}

button:hover {
    cursor: pointer;
}

button:active {
    transform: scale(0.95);
    transition: transform var(--transition-short);
}

/* Classes */

button.search {
    font-family: Sans-Regular;
    font-size: 16px;
    border: 1px solid var(--font2);
    border-radius: var(--corners-small);
    margin: 0;
    padding: 5px;
}

button.search {
    height: 35px;
    float: right;
    background-color: var(--darker-grey);
    width: 15%;
}

button.regular-clear,
button.dense-clear {
    background-color: var(--transparrent);
    border-radius: var(--corners-small);
    transition: background-color var(--transition-long);
}

button.regular-solid,
button.dense-solid {
    background-color: var(--lighter-grey);
    border-radius: var(--corners-small);
    transition: background-color var(--transition-long);
}

button.regular-clear,
button.regular-solid {
    width: 100%;
}

button.dense-clear,
button.dense-solid {
    width: 25%;
}

button.regular-clear:hover,
button.dense-clear:hover {
    background-color: var(--lighter-grey);
    transition: background-color var(--transition-long);
}

button.regular-solid:hover,
button.dense-solid:hover {
    background-color: var(--lighter-grey);
    transition: background-color var(--transition-long);
}

/* Mobile */

@media (max-width: 768px) {
    button.search {
        width: 20%;
    }
}
