/* General */

button {
    border: none;
    transition: transform var(--transition-short);
}

button:hover {
    cursor: pointer;
}

button:active {
    transform: scale(0.95);
    transition: transform var(--transition-short);
}

/* Classes */

button.search {
    font-family: Sans-Regular;
    font-size: 16px;
    border: 1px solid var(--font2);
    border-radius: var(--corners-small);
    margin: 0;
    padding: 5px;
}

button.search {
    height: 35px;
    float: right;
    background-color: var(--darker-grey);
    width: 15%;
}

/* Mobile */

@media (max-width: 768px) {
    button.search {
        width: 20%;
    }
}
