.flex-row {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
}

.flex-row > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
}

.flex-col {
    text-align: left;
    background-color: rgba(0, 0, 0, 0);
    margin: 0;
    border: 1px solid black;
}

@media (min-width: 768px) {
    .flex-col {
        flex: 2 0;
    }
}
