@use '../../reference' as reference;

.clear {
    background-color: reference.$transparent;
    margin-top: 20px;
    margin-bottom: 20px;
}

.solid {
    background-color: reference.$white;
    margin-top: 20px;
    margin-bottom: 20px;
}

.contain {
    padding: 50px 150px 50px 150px;

    &Dense {
        padding: 12.5px 150px 12.5px 150px;
    }

    @media (max-width: 768px) {
        padding: 20px;
    }
}

.outline {
    border: 1px solid reference.$darker-grey;
}

.margins {
    margin-left: 150px;
    margin-right: 150px;

    // @media (min-width: 768px) {
    //     border-radius: reference.$corners-large;
    // }

    @media (max-width: 768px) {
        border-radius: none;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 0px;
        margin-right: 0px;
    }
}

.top {
    margin-top: 0px;
}

.align {
    &Inherit {
        text-align: inherit;
    }

    &Left {
        text-align: left;
    }

    &Center {
        text-align: center;
    }

    &Right {
        text-align: right;
    }

    &Justify {
        text-align: justify;
    }
}

.stacked {
    display: grid;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.text {
    z-index: 1000;
    position: absolute;
}
